---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Documentation - SALLMA">
	<div class="bg-white py-24 sm:py-32">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="mx-auto max-w-2xl text-center">
				<h2
					class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
				>
					Documentation
				</h2>
				<p class="mt-2 text-lg leading-8 text-gray-600">
					Explore the SALLMA architecture and learn how to build
					multi-agent systems.
				</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<p class="text-sm font-semibold leading-6 text-indigo-600">
						Coming Soon...
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>
